/* @override 
	https://cesenacalcio.growupmerchandising.com/themes/warehouse/assets/css/theme.css */

 .col-header-left {
 	padding-left: 0;
 }
 
 div#mobile-header-sticky div.container div.mobile-main-bar div.row.no-gutters.align-items-center.row-mobile-header div.col.col-mobile-logo
  {
 	padding: 0;
 }

div#mobile-header-sticky div.container div.mobile-main-bar,
 div#mobile-header-sticky div.container {
padding-left: 0;
padding-top: 0;
padding-bottom: 0;
}

 #footer .ps-emailsubscription-block .newsletter-input-group .btn-subscribe{
    background-color: #0082b4;
    color: #fff
 }

 #footer .ps-emailsubscription-block .newsletter-input-group .btn-subscribe:hover{
 background-color: #005b80;
color: #fff;
 }

.img-fluid,
#desktop_logo {
transition: all 0.7s ease;
transform-origin: left center;
-webkit-transform: translateZ(0); 
}
